#drop,
nav {
  height: 20mm;
  background-color: #f8f6f2;

  size: 40px;
}
#drop a,
#drop button,
nav button,
nav a{
  color: #69595e;
  text-decoration: none;
}
#drop {
  height: 50mm;
}

#dropdownNavbar{
  background-color: rgba(248, 246, 242, 0.85);
}

a:hover{
  /* display: inline-block; */
  transition: transform 0.3s ease; /* Adding transition for smooth movement */
}

a:hover {
  transform: translateY(-3px); /* Move the text up by 3 pixels on hover */
}