.cardContainer {
  margin: 20px;
}


.titleProducts {
  font-size: 40px;
  margin: 20px;
  margin-top: 40px;
}

.buttonProducts {
  margin-bottom: 30px;
  background-color: #545454;
  border: 1px solid #4b4b4b;
}

.buttonProducts:hover {
  color: #545454;
  background-color: #C1FF72;
  font-weight: 600;
}

.textCard {
  font-size: 18px;
}

.myCheckbox {
  border: 1px solid #545454;
  border-radius: 3px;
}

